<div class="crm-container">
  <div crm-ui-debug="contact"></div>

  <h1 crm-page-title>{{ts('K.A.S. Min side')}}</h1>

  <div class="ui-tabs ui-corner-all ui-widget ui-widget-content">

    <div class="ui-tabs ui-corner-all ui-widget ui-widget-content">
      <button class="crm-tab-button" ng-click="selectTab('primary')">{{ts('Medlemmer')}}</button>
      <button class="crm-tab-button" ng-click="selectTab('my_data')">{{ts('Mine oplysninger')}}</button>
    </div>
    <div id="primary_tab" class="ng-hide" ng-hide="hidePrimaryTab">
      <div class="crm-flex-2 crm-dashboard-droppable ng-not-empty ng-hide" ng-show="!contact">
        <div class="crm-dashlet ng-scope">
          <div class="section crmkas-contact-area">
            <div class="label bold">
              <h3>{{ts('Medlemmer')}}</h3>
            </div>
            <table>
              <thead>
              <th width="15%" />
              <th width="auto" />
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label for="contactId" class="control-label">{{ts('Navn / email')}}</label>
                  </td>
                  <td>
                    <input 
                      crm-autocomplete="'Contact'" 
                      crm-autocomplete-params="{savedSearch: 'K_A_S_Medlemmer'
                      class="form-control"
                      id="contactId"
                      name="contactId"
                      ng-model="contactId"
                      ng-required="false"
                      ng-change="contactSelected()"
                      />
<!--                    <input
                      crm-entityref="{entity: 'Contact', api: {params: {}}, select: {allowClear:true, minimumInputLength: 1}}"
                      class="form-control"
                      id="contactId"
                      name="contactId"
                      ng-model="contactId"
                      ng-required="false"
                      ng-change="contactSelected()"
                      />-->
                  </td>
                </tr>  
                <tr>
                  <td>
                    <label for="extIdInput" class="control-label">{{ts('Medl.Nr.')}}</label>
                  </td>
                  <td>
                    <input 
                      type="text" 
                      ng-bind="extId" 
                      class="form-control huge big"
                      id="extIdInput"
                      name="extIdInput"
                      ng-required="false"
                      list="extIdInputList"
                      ng-model="extIdInput"
                      ng-change="extIdInputChange()"
                      data-caret-aware="cursor"
                      />
                    <datalist id="extIdInputList">
                      <option ng-repeat="row in extIdSuggest" value="{{row.external_identifier}}" >{{row.external_identifier}}&nbsp;{{row.display_name}}</option>
                    </datalist>

                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="boatInput" class="control-label">{{ts('Båd')}}</label>
                  </td>
                  <td>
                    <input 
                      type="text" 
                      class="form-control huge big"
                      id="boatInput"
                      name="boatInput"
                      ng-required="false"
                      list="boatInputList"
                      ng-model="boatInput"
                      ng-change="boatInputChange()"
                      data-caret-aware="cursor"
                      />
                    <datalist id="boatInputList">
                      <option ng-repeat="row in boatSuggest" value="{{row.display_name}}|{{row['contact.id']}}" >{{row.display_name}}&nbsp;{{row['contact.display_name']}}</option>
                    </datalist>

                  </td>
                </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="crm-flex-2 ng-hide" ng-show="contact">
        <h3>{{ts('Detaljer')}}</h3>
        <button class="crm-tab-button" ng-click="clearSearch()">{{ts('Søg igen')}}</button>
        <details open="">
          <summary>
            {{contact.external_identifier}}&nbsp;-&nbsp;{{contact.display_name}}
          </summary>
          <div class="crm-accordion-body">
            <table >
              <thead>
              <th width="15%" />
              <th width="auto" />
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label for="addressInput" class="control-label">{{ts('Address')}}</label>

                  </td>
                  <td>
                    <input 
                      type="text" 
                      ng-bind="addressInput" 
                      class="form-control huge big"
                      id="addressInput"
                      name="addressInput"
                      ng-required="false"
                      list="addressInputList"
                      ng-model="addressInput"
                      ng-change="addressInputChange()"
                      data-caret-aware="cursor"
                      />
                    <datalist id="addressInputList">
                      <option ng-repeat="row in addressSuggest" value="{{row.value}}" >{{row.forslag}}</option>
                    </datalist>

                  </td>
                <tr>
                  <td>
                    <label class="control-label">{{ts('Addresse')}}</label>
                  </td>
                  <td>
                    <div>{{contact['address_primary.street_address']}}<br></div>
                    <div class="ng-hide" ng-show="contact['address_primary.supplemental_address_1']" >{{contact['address_primary.supplemental_address_1']}}<br></div>
                    <div>{{contact['address_primary.postal_code']}}&nbsp;-&nbsp;{{contact['address_primary.city']}}</div>
                  </td>
                </tr>  
                <tr>
                  <td>
                    <label class="control-label">{{ts('Email')}}</label>
                  </td>
                  <td>
                    <div>{{contact['email_primary.email']}}</div>
                  </td>
                </tr>  
                <tr>
                  <td>
                    <label for="contactId" class="control-label">{{ts('Mobil')}}</label>
                  </td>
                  <td>
                    <div>{{contact['phone_primary.phone']}}</div>
                  </td>
                </tr>  
                <tr class="ng-hide" ng-show="samboId">
                  <td>
                    <label class="control-label">{{ts('Sambo')}}</label>
                  </td>
                  <td>
                    <span>{{samboName}}
                      <a class="crm-hover-button" 
                         ng-click="switchTo(samboId)"
                         title="{{ts('Skift til')}}" style="visibility: visible;">
                        <i class="crm-i fa-address-card" aria-hidden="true">
                        </i>
                      </a>                          
                    </span>
                  </td>
                </tr>  
              </tbody>
            </table>
          </div>
        </details>
        <details class="ng-hide" ng-show="samboId">
          <summary>
            {{ts('Båd')}}&nbsp;-&nbsp;{{boatName}}
          </summary>
          <div class="crm-accordion-body">
            <table >
              <thead>
              <th width="15%" />
              <th width="auto" />
              </thead>
              <tbody>
                <tr ng-repeat="(nm,val) in boat">
                  <td>
                    <label class="control-label">{{boatFieldLabels[nm].title}}</label>
                  </td>
                  <td>
                    <div>{{val}}<br></div>
                  </td>
                </tr>  
              </tbody>
            </table>
        </details>
      </div>
    </div>

    <div id="my_data" class="ng-hide" ng-hide="hideEventTeamTab">
      <div class="crm-flex-box">
        <div class="crm-flex-2 crm-dashboard-droppable ng-not-empty" >
          <div class="crm-dashlet ng-scope">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
